.checkout-line-container {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;

  .quantity-container {
    display: flex; 
    justify-content: center;

    .reduce {
      cursor: pointer;
    }

    .increase {
      cursor: pointer;
    }

  }

  .remove {
    cursor: pointer;
  }

}